@import "tailwindcss";

@theme {
  --color-primary: #0F172A;
  --color-secondary: #2563EB;
  --color-accent: #22C55E;
  --color-background: #F8FAFC;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
  font-family: 'Inter', system-ui, sans-serif;
}
